@page "/"
@inject TransactionsClient TransactionsClient
@implements IDisposable

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />

<h2>Payments</h2>
<ul>
    @foreach (var payment in payments) {
        <li>@payment</li>
    }
</ul>
<h2>Transactions</h2>
<ul>
    @foreach (var transaction in transactions) {
        <li>@transaction</li>
    }
</ul>

@code {
    private string[] payments = Array.Empty<string>();
    private string[] transactions = Array.Empty<string>();

    // Fetch only once
    //protected override async Task OnInitializedAsync()
    //{
    //    var result = await TransactionsClient.GetPayments.ExecuteAsync();
    //    payments = result.Data.Payments
    //        .Select(x => $"From {x.FromIban}, To {x.ToIban}: {x.Amount}")
    //        .ToArray();
    //}

    // Subscribe for push -> does not work. Issue: Fetches only when menu is (re)initialized
    private IDisposable storePayment;
    private IDisposable storeTransaction;

    protected override void OnInitialized()
    {
        storePayment =
            TransactionsClient
                .GetPayments
    //.Watch(StrawberryShake.ExecutionStrategy.CacheFirst)
                .Watch(StrawberryShake.ExecutionStrategy.NetworkOnly)
                .Where(t => !t.Errors.Any())
                .Select(t =>
                    t.Data.Payments
                        .Select(x => $"From '{x.FromIban}' to '{x.ToIban}': {x.Amount} €, at '{x.CreateDate}'")
                        .ToArray())
                .Subscribe(result =>
                {
                    payments = result;
                    StateHasChanged();
                });

        storeTransaction =
            TransactionsClient
                .GetTransactions
    //.Watch(StrawberryShake.ExecutionStrategy.CacheFirst)
                .Watch(StrawberryShake.ExecutionStrategy.NetworkOnly)
                .Where(t => !t.Errors.Any())
                .Select(t =>
                    t.Data.Transactions
                        .Select(x => $"From '{x.FromIban}' to '{x.ToIban}': {x.Amount} €, at '{x.ExecutionDate}'")
                        .ToArray())
                .Subscribe(result =>
                {
                    transactions = result;
                    StateHasChanged();
                });
    }

    public void Dispose()
    {
        storePayment?.Dispose();
        storeTransaction?.Dispose();
    }
}
